.container {
    display: flex;
}

.todo {
    width: 400px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
}

.done {
    width: 400px;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
}

img {
    width: 100px
}